/* CSS declarations go here */
.hidden_div {
	display: none;
}

.js-search-form {
	margin: 1.3em 0;
}

.list-1 {}
.list-1 li {
	margin: 1.5em 0;
}
.list-1 .list-1-hd {
	margin: 0;
}

.login {
	float: right;
	margin: 15px 0 0;
}

.menu {
	float: left;
	list-style: none;
	margin: 15px 0 0 15px;
	padding: 0;
}
.menu li {
	float: left;
	margin: 0 0 0 10px;
}
.menu li:first-child {
	margin-left:0;
}
.menu li a {}

.warning {
	color: #f00;
}