/* CSS declarations go here */
html, body {
	background: #fff;
}

.hidden_div {
	display: none;
}

.js-search-form {
	margin: 1.3em 0;
}

.l-comments {
	list-style: none;
	margin-bottom: 2em;
	margin-top: 1em;
	padding: 0;
}
.l-comments li {
	/*border-bottom: 1px solid #888;*/
	border-top: 1px solid #888;
	margin: 0;
	padding: 0.5em 0 0.1em;
	position: relative;
}
.l-comments .l-comments-delete {
	color: #555;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	right: 1em;
	font-style: normal;
	top: 0;
}
.l-comments .l-comments-delete:hover {
	color: #000;
}
.l-comments .l-comments-hd {
	font-weight: bold;
	margin: 0;
}
.l-comments .l-comments-info {
	color: #333;
	font-size: 0.8em;
	margin: 0 0 0.3em;
}

.list-1 {}
.list-1 li {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	margin: 0.5em 0;
	padding: 0.3em 0 0.8em;
}
.list-1 .list-1-added {
	color:#555;
	font-size:0.8em;
	margin: 0;
}
.list-1 .list-1-hd {
	margin: 0;
}
.list-1 .list-1-exists {
	border-bottom: 1px solid #f00;
	border-top: 1px solid #f00;
}

.login {
	float: right;
	margin: 15px 0 0;
}

.menu {
	float: left;
	list-style: none;
	margin: 15px 0 0 15px;
	padding: 0;
}
.menu li {
	float: left;
	margin: 0 0 0 10px;
}
.menu li:first-child {
	margin-left:0;
}
.menu li a {}

.siteinfo {}
.siteinfo h2 {}
.siteinfo .siteinfo-added {
	color: #333;
	font-size: 0.8em;
	margin: 0 0 1em;
}
.siteinfo .siteinfo-desc {
	margin: 1em 0;
}

.warning {
	color: #f00;
}

.website_form-hd {
	margin:0 0 0.5em;
}
.website_form-hd:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
	width: 0;
}
.website_form-hd .btn {
	float: left;
	margin:0 1em 0 0;
}
.website_form-hd .website_form-warn {
	color: #f00;
	float: left;
	margin:0.5em 0 0;
}